.services-title{
   text-align: center;
   margin-bottom: 40px;
   font-size: 34px;
   color: lightseagreen
  
}
.services-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 20px;
}